
@page "/artwork"
@rendermode InteractiveServer

@using Blazorise
@using Met.Museum.API
@using Met.Museum.API.Models
@using Blazorise.Components

<h3>Artwork &amp; Artifacts</h3>

<div class="row mb-2">
    <div class="col-2"><strong>Department:</strong></div>
    <div class="col-4">
        <SelectList TItem="Department" TValue="long" Data="@_departments"
                    TextField="@((item) => item.DisplayName)" ValueField="@((item) => item.DepartmentId)"
                    @bind-SelectedValue="@_selectedDepartmentId" />
    </div>
</div>

<div class="row mb-2">
    <div class="col-2">
        <Button Color="Color.Dark" Clicked="@GetArtworkByDepartmentId">Get Artwork</Button>
    </div>
</div>

<ArtworkDetails Id="1000"></ArtworkDetails>



